[Unit]
Description=Renew LAKA IP TLS certificate
[Service]
Type=oneshot
ExecStart=/opt/laka-certbot/bin/certbot renew --quiet --deploy-hook "/usr/sbin/nginx -t && /usr/bin/systemctl reload nginx"
